<form asp-action="add" asp-controller="Fruit" method="Post">
    <label>Name</label>
    <input type="text" name="Name" class="form-control" />
    <label>Price</label>
    <input type="number" name="Price" class="form-control" />
    <button type="submit" class="btn btn-success m-2">Add</button>
</form>

